<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenuDAO">

    <resultMap id="rm" type="com.baizhi.entity.Menu">
        <id property="id" column="mid"/>
        <result column="mtitle" property="title"/>
        <result column="mcontent" property="content"/>
        <result column="mhref" property="href"/>
        <result column="miconCls" property="iconCls"/>
        <result column="pid" property="parentId"/>
        <collection property="menus" ofType="com.baizhi.entity.Menu">
            <id property="id" column="nid"/>
            <result column="ntitle" property="title"/>
            <result column="ncontent" property="content"/>
            <result column="nhref" property="href"/>
            <result column="niconCls" property="iconCls"/>
            <result column="tid" property="parentId"/>
        </collection>
    </resultMap>


    <select id="queryAll" resultMap="rm">
        select m.id mid,m.title mtitle,m.content mcontent,m.href mhref,m.iconCls miconCls,m.parentId pid,
n.id nid,n.title ntitle,n.content ncontent,n.href nhref,n.iconCls niconCls,n.parentId tid
from Menu m LEFT JOIN Menu n on m.id=n.parentId
        where m.id between 1 and 7 or m.id=11

    </select>


</mapper>




